<!DOCTYPE html>
<html>
<head>
    <title>Job Parser</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="header">
        <img src="/static/logo-color.png" alt="Company Logo" class="logo-img">
    </div>

    <form action="/" method="get">
        <label for="search_query">Search:</label>
        <input type="text" id="search_query" name="search_query" value="{{ search_query }}">
        <button type="submit">Apply</button>
    </form>

    <table>
        <thead>
            <tr>
                <th><a href="?sort_by=title&sort_order={% if sort_by == 'title' and sort_order == 'asc' %}desc{% else %}asc{% endif %}&search_query={{ search_query }}">Title</a></th>
                <th><a href="?sort_by=company&sort_order={% if sort_by == 'company' and sort_order == 'asc' %}desc{% else %}asc{% endif %}&search_query={{ search_query }}">Company</a></th>
                <th><a href="?sort_by=location&sort_order={% if sort_by == 'location' and sort_order == 'asc' %}desc{% else %}asc{% endif %}&search_query={{ search_query }}">Location</a></th>
                <th><a href="?sort_by=technologies&sort_order={% if sort_by == 'technologies' and sort_order == 'asc' %}desc{% else %}asc{% endif %}&search_query={{ search_query }}">Technologies</a></th>
                <th><a href="?sort_by=price&sort_order={% if sort_by == 'price' and sort_order == 'asc' %}desc{% else %}asc{% endif %}&search_query={{ search_query }}">Salary</a></th>
                <th><a href="?sort_by=eng_lvl&sort_order={% if sort_by == 'eng_lvl' and sort_order == 'asc' %}desc{% else %}asc{% endif %}&search_query={{ search_query }}">English</a></th>
            </tr>
        </thead>
        <tbody>
            {% for vacancy in vacancies %}
            <tr>
                <td><a href="{{ vacancy.original_link }}" target="_blank">{{ vacancy.title }}</a></td>
                <td>{{ vacancy.company }}</td>
                <td>{{ vacancy.location }}</td>
                <td>{{ vacancy.technologies }}</td>
                <td>{{ vacancy.price }}</td>
                <td>{{ vacancy.eng_lvl }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
